.container {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2rem;
  border: 0.1rem solid var(--light-grey2);
  border-radius: 0.8rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--primary-white);
  width: 100%;
}
.top_detail {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.3rem;
}
.text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--blue);
  opacity: 0.5;
  border-bottom: 1px solid rgba(9, 14, 41, 0.5);
}
.arrow {
  width: 1.5rem;
}
.heading {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: var(--blue);
  opacity: 0.5;
  margin-top: 0.5rem;
}
.agent_detail {
  margin-top: 3.8rem;
}
.agent {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 1.3rem;
  background-color: var(--grey4);
  border-radius: 1rem;
  padding: 1.1rem 2rem 0.7rem 1rem;
}
.row_table_image {
  width: 8rem;
  height: 8rem;
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.name_w {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: var(--blue);
}
.name_circle {
  background-color: #1993ff;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}
.id {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: var(--blue);
}
.details {
  padding: 1.8rem 0.6rem 2.5rem 0.6rem;
  border-top: 1px solid rgba(0, 20, 124, 0.2);
  border-bottom: 1px solid rgba(0, 20, 124, 0.2);
}
.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 2.8rem;
  margin-top: 4rem;
}
.heading2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--blue);
}

.group {
  display: flex;
  flex-direction: column;
}
.header {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.2rem;
  letter-spacing: -0.05em;
  color: var(--blue);
}
.footer {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: var(--blue);
}

.agent_header {
  transform: translateY(0px);
  /* z-index: 100; */
  transition: transform 0.3s ease-out, opacity 3s ease-out 3s;
  opacity: 1;
  visibility: visible;
  /* position: relative; */
}
.agent_heading {
  transform: translateY(-1000px);
  /* z-index: 10001; */
  opacity: 0;
  visibility: hidden;
  /* position: absolute; */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out 3s;
}
.back {
  /* background-color: rgba(9, 14, 41, 0.71);
  width: 3.2rem;
  height: 5.5rem; */
  border-radius: 0.9rem;
  background-color: var(--grey4);
  width: 3.2rem;
  height: 5.5rem;
  border: none;
}
.back svg {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(180deg);
}
.back img {
  width: 1.5rem;
  height: 1.1rem;
}

.imageSearch {
  height: 2.2rem;
  width: 2.28rem;
}

.search_bar {
  margin-right: 0.8rem;
}

.input_container {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  background-color: var(--grey4);
  padding: 0 1.7rem;
  border-radius: 0.9rem;
}

.input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

.search_container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.search_wrapper {
  position: relative;
  width: 100%;
}
.search_res {
  position: absolute;
  top: 5.5rem;
  left: 0;
  box-shadow: 0px 4px 14px -2px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: auto;
  max-height: 40.5rem;
  padding: 1.5rem 2.5rem;
  background-color: var(--primary-white);
  z-index: 100;
}
.item {
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.item:first-child {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search_img {
  width: 4rem;
  height: 4rem;
}

.search_name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: -0.05em;
  color: var(--blue);
}

.right {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2.2rem;
  letter-spacing: -0.05em;
  color: var(--blue);
}
