.parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: var(--grey);
}
.grid_component {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 0.5rem;
}
.grid_first_component {
  background-color: var(--primary-white);
}
.grid_second_component {
  background-color: var(--primary-white);
}
.bar_container {
  width: 100%;
  padding-bottom: 5rem;
  background-color: var(--primary-white);
}
